In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('saved-items/clustered-dataset.csv')

df.head()

,Num_children,Child,Income,Wines,Fruits,Meat,Fish,Sweets,Gold,Total,labels
0,0,0,58138,635,88,546,172,88,88,1617,1
1,2,1,46344,11,1,6,2,1,6,27,0
2,0,0,71613,426,49,127,111,21,42,776,1
3,1,1,26646,11,4,20,10,3,5,53,0
4,1,1,58293,173,43,118,46,27,15,422,0

In [42]:
# Group 0
label0 = df[df['labels'] == 0].copy()
label0.drop(columns=['labels'], inplace=True)
label0.reset_index(inplace=True, drop=True)

# Group 1
label1 = df[df['labels'] == 1].copy()
label1.drop(columns=['labels'], inplace=True)
label1.reset_index(inplace=True, drop=True)

# Group 2
label2 = df[df['labels'] == 2].copy()
label2.drop(columns=['labels'], inplace=True)
label2.reset_index(inplace=True, drop=True)

# Group 3
label3 = df[df['labels'] == 3].copy()
label3.drop(columns=['labels'], inplace=True)
label3.reset_index(inplace=True, drop=True)

In [49]:
label1.isna().sum()

Num_children    0
Child           0
Income          0
Wines           0
Fruits          0
Meat            0
Fish            0
Sweets          0
Gold            0
Total           0
dtype: int64

In [45]:
# grouped = label1.groupby(['Total'])['Wines', 'Fruits', 'Meat', 'Fish', 'Sweets', 'Gold'].mean()

In [46]:
# grouped.plot(kind='bar', stacked=True)

# plt.show()

In [47]:
# grouped.describe()

In [37]:
label1.describe()

,Income,Wines,Fruits,Meat,Fish,Sweets,Gold,Total
count,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000
mean,76639.577878,649.474041,67.234763,490.074492,97.516930,67.961625,76.327314,1448.589165
std,10055.052489,311.303814,51.204885,229.846518,64.942868,51.719972,61.995576,393.550457
min,33051.000000,68.000000,0.000000,48.000000,0.000000,0.000000,0.000000,725.000000
25%,70471.500000,398.000000,26.000000,320.500000,43.000000,27.500000,30.000000,1149.000000
50%,77457.000000,605.000000,51.000000,459.000000,86.000000,54.000000,53.000000,1396.000000
75%,82603.500000,880.000000,102.000000,673.500000,146.000000,102.000000,111.500000,1716.500000
max,105471.000000,1493.000000,197.000000,984.000000,254.000000,198.000000,249.000000,2525.000000

In [54]:
label1.drop(['Num_children', 'Child'], axis=1).corr()['Income']['Total']

0.3522762892317645

In [56]:
label0.drop(['Num_children', 'Child'], axis=1).corr()['Income']['Total']

0.5438651018909356

In [57]:
label2.drop(['Num_children', 'Child'], axis=1).corr()['Income']['Total']

0.725211346296854

In [58]:
label3.drop(['Num_children', 'Child'], axis=1).corr()['Income']['Total']

0.46477321874600475

In [16]:
label1.Total.value_counts()

1149    4
1574    4
1366    4
1033    4
1919    3
       ..
817     1
818     1
1331    1
1588    1
1779    1
Name: Total, Length: 350, dtype: int64