In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('./df.pkl')

In [3]:
df.head()

,Age,Simplified_Education,Relationship_Status,Income,Num_children,Has_child,years_joined,Total
0,64,Postgraduate,Alone,58138,0,False,9.060,1617
1,67,Postgraduate,Alone,46344,2,True,7.553,27
2,56,Postgraduate,In couple,71613,0,False,8.099,776
3,37,Postgraduate,In couple,26646,1,True,7.625,53
4,40,Postgraduate,In couple,58293,1,True,7.685,422